<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
  </head>

  <body>

    <div data-role="page" id="dashboard">

      <div data-role="content" id="">
        <ul data-role="listview" id="first" data-filter-reveal="true" data-inset="true" data-filter="true" data-filter-placeholder="Search for a friend"></ul>
      </div>

 <script>
  users = [];
  profImg = [];
  id = [];
  eventsJson = null;
  
  $(document).ready(function() {
    setTimeout(query(), 2000);
  });

  function query(q)
  {
    eventsJson = null;
    $.ajax(
    {
      type: "post",
      url: "/friends",
      form: "json",
      success: function(data)
      {
        eventsJson = data;
        console.log(eventsJson);
        refresh();
      }
    });
  }

  function refresh()
  {
    for (var i = 0; i < eventsJson.length; i++)
    {
      console.log(eventsJson[i].screen_name);
      id.push(eventsJson[i].id);
      profImg.push(eventsJson[i].profile_image_url_https);
      users.push(eventsJson[i].screen_name);
    }

    var output = [];
    for (var i = 0; i < eventsJson.length; i++)
    {
      output.push('<li><form action="proposition/create" method="post"><input name="username" value=' + users[i] + '>' + '<input name="twitter_id" value=' + id[i] + '>' + '<input name="profile_image value=' + profImg[i] + '>' + users[i] + '</form></li>');
    }

   $('#first').append(output.join('')).listview('refresh');

   $("#first").listview("refresh");
  }
</script>
<header class="shadow">
  <img src="http://static1.squarespace.com/static/51922891e4b0a96be871dde0/t/51976fb9e4b0079d49c5d75d/1368879033665/Banner+oak+tree+1020x302.jpg">
</header>
  <div class="header_text dimportant_text">
    Give 2 Good
  </div>
<div class="charity_container shadow">
  <div class="charity_logo">
    <img src="">
  </div>
  <div class="title_and_desc">
    <div class="charity_title">
      <%= @charity.name %>
    </div>
    <div class="charity_description">
      <%= @charity.summary %>
    </div>
  </div>
  <div class="tree_container">
    <div class="tree_person_container">
      <div class="tree_founder">
        <img src="<%= @donors[0].profile_image %>">
      </div>
      <div class="twitter_handle">
        <%= @donors[0].screenname %>
      </div>
    </div>
    <% @donors[1..-3].each do |donor| %>
      <div class="tree_person_container">
        <div class="tree_member">
          <img src="<%= donor %>">
        </div>
        <div class="twitter_handle">
          <%= @donor.screenname %>
        </div>
      </div>
    <% end %>
    <div class="tree_person_container">
      <div class="double_person_container">
        <div class="tree_member">
          <img src="<%= @donors[-1].profile_image %>">
        </div>
        <div class="twitter_handle">
          <%= @donors[-1].screenname %>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom_container">
    <div class="your_turn">

    </div>
    <div class="friend_selector">

    </div>
    <div class="friend_selector">

    </div>
    <div class="donation_link">
<!--       button
 -->
    </div>
  </div>
</div>


  </body>
</html>