<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
  </head>

  <body>

    <div data-role="page" id="dashboard">

<script>

  $.ajax(
  {
    type: "post",
    url: "/friends",
    form: "json",
    success: function(data)
    {
      console.log(data)
      eventsJson = data;
    }
  });


</script>

<header class="shadow">
  <div class="header_content important_text">
    Give 2 Good
  </div>
</header>
<div class="charity_container shadow">
  <div class="charity_logo">
    <img src="">
  </div>
  <div class="title_and_desc">
    <div class="charity_title">
      <%= @charity.name %>
    </div>
    <div class="charity_description">
      <%= @charity.summary %>
    </div>
  </div>
  <div class="tree_container">
    <div class="tree_person_container">
      <div class="tree_founder">
        <img src="<%= @donors[0].profile_image %>">
      </div>
      <div class="twitter_handle">
        <%= @donors[0].screenname %>
      </div>
    </div>
    <% @donors[1..-3].each do |donor| %>
      <div class="tree_person_container">
        <div class="tree_member">
          <img src="<%= donor %>">
        </div>
        <div class="twitter_handle">
          <%= @donor.screenname %>
        </div>
      </div>
    <% end %>
    <div class="tree_person_container">
      <div class="double_person_container">
        <div class="tree_member">
          <img src="<%= @donors[-1].profile_image %>">
        </div>
        <div class="twitter_handle">
          <%= @donors[-1].screenname %>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom_container">
    <div class="your_turn">

    </div>
    <div class="friend_selector">

    </div>
    <div class="friend_selector">

    </div>
    <div class="donation_link">
<!--       button
 -->
    </div>
  </div>
</div>


  </body>
</html>